/* Mission Section */
.mission-container {
    padding: 40px 20px;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
  }
  
  .mission-section h2 {
    font-size: 2.5rem;
    color: var(--primary-color);
    margin-bottom: 20px;
  }
  
  .mission-section p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: var(--text-color);
  }
  .progress-button-container {
    margin-top: 30px;
  }
  
  .cta-button {
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 15px 30px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.2rem;
    transition: background-color var(--transition-speed);
  }
  
  .cta-button:hover {
    background-color: var(--hover-color);
  }
  